<h1><%= @product.name %></h1>

<% if @product.sale %>
  <h2><strike>$<%= @product.price %></strike> <b>$<%= @product.sale_price %></b></h2>
<% else %>
  <h2>$<%= @product.price %></strike></h2>
<% end %>

<p><%= @product.description %></p>

<% if @product.image.present? %>
  <p><%= image_tag @product.image.product_view.url %></p>
<% end %>

<%= form_for @product_order, remote: true do |f| %>
  <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
  <%= f.hidden_field :product_id, value: @product.id %>
  <%= f.submit "Add to Cart", class: "btn btn-primary" %>
<% end %>


<h2>Specifications:</h2>

<ul>
  <% if @product.size.present? %>
    <li>Size: <%= @product.size %></li>
  <% end %>
  <% if @product.width.present? %>
    <li>Width: <%= @product.width %></li>
  <% end %>
  <% if @product.length.present? %>
    <li>Length: <%= @product.length %></li>
  <% end %>
  <% if @product.height.present? %>
    <li>Height: <%= @product.height %></li>
  <% end %>
  <% if @product.diameter.present? %>
    <li>Diameter: <%= @product.diameter %></li>
  <% end %>
  <% if @product.volume.present? %>
    <li>Volume: <%= @product.volume %></li>
  <% end %>
  <% if @product.weight.present? %>
    <li>Weight: <%= @product.weight %></li>
  <% end %>
  <% if @product.colour.present? %>
    <li>Colour: <%= @product.colour %></li>
  <% end %>
  <% if @product.material.present? %>
    <li>Material: <%= @product.material %></li>
  <% end %>
  <% if @product.finish.present? %>
    <li>Finish: <%= @product.finish %></li>
  <% end %>
  <% if @product.resistance.present? %>
    <li>Resistance Level: <%= @product.resistance %></li>
  <% end %>
  <% if @product.max_weight.present? %>
    <li>Maximum Supported Weight: <%= @product.max_weight %></li>
  <% end %>
</ul>





<p><%= link_to 'Go back to main page', main_page_path %></p>


