<h1>Login to your account</h1>

<% if session[:login_error] %>
  <p>Error: incorrect password</p>
<% end %>

<%= form_tag(login_path) do %>
  Email: <%= text_field_tag :email %><br />
  Password: <%= text_field_tag :password %><br />
  <%= submit_tag "Login" %>
<% end %>

<p>New customer? <%= link_to 'Sign up now!', sign_up_path %></p>